@model CSBugTracker.Models.Ticket

@using CSBugTracker.Models.Enums
@using CSBugTracker.Services.Interfaces
@inject IBTFileService _fileService

@{
    ViewData["Title"] = "Delete";
}

<div class="row align-items-center">
    <div class="col-xl-6 col-md-8 offset-md-2">
        <h2>Are you sure?</h2>
        <p class="fs-5 text-lead text-muted">This ticket will be Archived.</p>
        <div class="card mb-3">
            <header class="card-header">

                <h2 class="card-title">@Model.Title</h2>
            </header>
            <div class="row g-0">
@*                <div class="col-md-4 square-img-container">
                    <img src="@_fileService.ConvertByteArrayToFile(Model.Project!.ImageData!,Model.Project!.ImageType!,(int)DefaultImage.ProjectImage)" class="square-img rounded-start" alt="...">
                </div>*@
                    <div class="card-body">
                        <div class="card-text">
                            <h4><strong>Submitter:</strong> @Model.SubmitterUser?.FullName</h4>
                            @if (Model.DeveloperUserId != null)
                            {
                                <h4><strong>Developer:</strong> @Model.DeveloperUser?.FullName </h4>
                            } 
                            else
                            {
                                <h4><strong>Developer:</strong> Unassigned</h4>
                            }
                            <p> 
                                <strong>Status:</strong> @Model.TicketStatus!.Name<br />
                                <strong>Type:</strong> @Model.TicketType!.Name<br />
                                <strong>Priority:</strong> @Model.TicketPriority!.Name
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.Id">
            <input hidden asp-for="Id" />
            <a asp-action="Index" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
            <button type="submit" class="btn btn-danger rounded-pill btnLink">Delete</button>
        </form>
    </div>
</div>
