@model CSBugTracker.Models.Company

@using CSBugTracker.Models.Enums;
@using CSBugTracker.Services.Interfaces;
@inject IBTFileService _fileService
@inject IBTRolesService _rolesService
@inject IBTTicketHistoryService _historyService
@inject IBTTicketService _ticketService
@inject IBTCompanyService _companyService


<!-- start: page -->
<div class="row">
    <div class="col-lg-6 mb-3">
        <section class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="chart-data-selector" id="salesSelectorWrapper">
                            <h2>
                                Sales:
                                <strong>
                                    <select class="form-control" id="salesSelector">
                                        <option value="Porto Admin" selected>Porto Admin</option>
                                        <option value="Porto Drupal">Porto Drupal</option>
                                        <option value="Porto Wordpress">Porto Wordpress</option>
                                    </select>
                                </strong>
                            </h2>

                            <div id="salesSelectorItems" class="chart-data-selector-items mt-3">
                                <!-- Flot: Sales Porto Admin -->
                                <div class="chart chart-sm" data-sales-rel="Porto Admin" id="flotDashSales1" class="chart-active" style="height: 203px;"></div>
                                <script>

                                    var flotDashSales1Data = [{
                                        data: [
                                            ["Jan", 140],
                                            ["Feb", 240],
                                            ["Mar", 190],
                                            ["Apr", 140],
                                            ["May", 180],
                                            ["Jun", 320],
                                            ["Jul", 270],
                                            ["Aug", 180]
                                        ],
                                        color: "#0088cc"
                                    }];

                                    // See: js/examples/examples.dashboard.js for more settings.

                                </script>

                                <!-- Flot: Sales Porto Drupal -->
                                <div class="chart chart-sm" data-sales-rel="Porto Drupal" id="flotDashSales2" class="chart-hidden"></div>
                                <script>

                                    var flotDashSales2Data = [{
                                        data: [
                                            ["Jan", 240],
                                            ["Feb", 240],
                                            ["Mar", 290],
                                            ["Apr", 540],
                                            ["May", 480],
                                            ["Jun", 220],
                                            ["Jul", 170],
                                            ["Aug", 190]
                                        ],
                                        color: "#2baab1"
                                    }];

                                    // See: js/examples/examples.dashboard.js for more settings.

                                </script>

                                <!-- Flot: Sales Porto Wordpress -->
                                <div class="chart chart-sm" data-sales-rel="Porto Wordpress" id="flotDashSales3" class="chart-hidden"></div>
                                <script>

                                    var flotDashSales3Data = [{
                                        data: [
                                            ["Jan", 840],
                                            ["Feb", 740],
                                            ["Mar", 690],
                                            ["Apr", 940],
                                            ["May", 1180],
                                            ["Jun", 820],
                                            ["Jul", 570],
                                            ["Aug", 780]
                                        ],
                                        color: "#734ba9"
                                    }];

                                    // See: js/examples/examples.dashboard.js for more settings.

                                </script>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 text-center">
                        <h2 class="card-title mt-3">Sales Goal</h2>
                        <div class="liquid-meter-wrapper liquid-meter-sm mt-3">
                            <div class="liquid-meter">
                                <meter min="0" max="100" value="35" id="meterSales"></meter>
                            </div>
                            <div class="liquid-meter-selector mt-4 pt-1" id="meterSalesSel">
                                <a href="#" data-val="35" class="active">Monthly Goal</a>
                                <a href="#" data-val="28">Annual Goal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-xl-6">
        <section class="card">
            <div class="scrollable card-body" data-plugin-scrollable style="height: 292px;">
                <div class="scrollable-content p-2">
                    <table class="table table-responsive-md table-striped mb-0 me-2">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project</th>
                                <th>Priority</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(Project project in Model.Projects)
                            {
                            <tr>
                                <td></td>
                                <td>@project.Name</td>
                                <td><span class="badge badge-default">@project.ProjectPriority!.Name</span></td>
                                <td>
                                    <div class="progress progress-sm progress-half-rounded m-0 mt-1 light">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row pt-4 mt-2">
    <div class="col-lg-6 col-xl-3">
        <section class="card card-transparent">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">Company Members</h2>
            </header>
            <div class="scrollable colored-slider" data-plugin-scrollable style="height: 620px;">
                <div class="scrollable-content col">
                    @foreach (BTUser admin in Model.Members)
                    {
                        @if (await _rolesService.IsUserInRoleAsync(admin, nameof(BTRoles.Admin)))
                        {
                            <div class="card-body bg-primary w-100 mb-2">
                                <div class="widget-profile-info">
                                    <div class="profile-picture">
                                        <img class="rounded-circle" src="@_fileService.ConvertByteArrayToFile(admin?.ImageData!,admin?.ImageType!,(int)DefaultImage.BTUserImage)" data-lock-picture="@_fileService.ConvertByteArrayToFile(admin?.ImageData!,admin?.ImageType!,(int)DefaultImage.BTUserImage)" />
                                    </div>
                                    <div class="profile-info">
                                        <h4 class="name font-weight-semibold">@admin!.FullName</h4>
                                        <h5 class="role">Administrator</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @foreach (BTUser member in Model.Members)
                    {
                        @if (!await _rolesService.IsUserInRoleAsync(member, nameof(BTRoles.Admin)))
                        {
                            <div class="card-body mb-2">
                                <ul class="simple-user-list">
                                    <li class="widget-profile-info">
                                        <figure class="profile-picture">
                                            <img class="rounded-circle" src="@_fileService.ConvertByteArrayToFile(member?.ImageData!,member?.ImageType!,(int)DefaultImage.BTUserImage)" data-lock-picture="@_fileService.ConvertByteArrayToFile(member?.ImageData!,member?.ImageType!,(int)DefaultImage.BTUserImage)" />
                                        </figure>
                                        <span class="title fs-6">@member?.FullName</span>
                                        @foreach (string role in await _rolesService.GetUserRolesAsync(member!))
                                        {
                                            <h5 class="role">@role</h5>
                                        }
                                        <div class="border-bottom mb-1"></div>
                                        <div class="profile-footer">
                                            @await _ticketService.GetTicketsDevelopingCompanyAsync(member?.Id, Model.Id) Tickets Developing<br>
                                            @await _ticketService.GetTicketsSubmittedCompanyAsync(member?.Id, Model.Id) Tickets Submitted
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    }

                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-xl-3">
        <section class="card card-transparent">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">Company Stats</h2>
            </header>
            <div class="card-body">
                <section class="card">
                    <div class="card-body">
                        <div class="small-chart float-end" id="sparklineBarDash"></div>
                        <script type="text/javascript">
                            var sparklineBarDashData = [5, 6, 7, 2, 0, 4, 2, 4, 2, 0, 4, 2, 4, 2, 0, 4];
                        </script>
                        <div class="h4 font-weight-bold mb-0">@Model.Members.Count</div>
                        <p class="text-3 text-light mb-0">Members</p>
                    </div>
                </section>
                <section class="card">
                    <div class="card-body">
                        <div class="circular-bar circular-bar-xs m-0 mt-1 me-4 mb-0 float-end">
                            <div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
                                <strong>Average</strong>
                                <label><span class="percent">45</span>%</label>
                            </div>
                        </div>
                        <div class="h4 font-weight-bold mb-0">@await _companyService.GetCompanyProjectCountAsync(Model.Id)</div>
                        <p class="text-3 text-light mb-0">Active Projects</p>
                    </div>
                </section>
                <section class="card">
                    <div class="card-body">
                        <div class="small-chart float-end" id="sparklineLineDash"></div>
                        <script type="text/javascript">
                            var sparklineLineDashData = [15, 16, 17, 19, 10, 15, 13, 12, 12, 14, 16, 17];
                        </script>
                        <div class="h4 font-weight-bold mb-0">@await _companyService.GetCompanyTicketCountAsync(Model.Id)</div>
                        <p class="text-3 text-light mb-0">Active Tickets</p>
                    </div>
                </section>
                <section class="card">
                    <div class="card-body">
                        <div class="small-chart float-end" id="sparklineBarDash"></div>
                        <script type="text/javascript">
                            var sparklineBarDashData = [5, 6, 7, 2, 0, 4, 2, 4, 2, 0, 4, 2, 4, 2, 0, 4];
                        </script>
                        <div class="h4 font-weight-bold mb-0">@await _companyService.GetResolvedTicketCountAsync(Model.Id)</div>
                        <p class="text-3 text-light mb-0">Resolved Tickets</p>
                    </div>
                </section>
                <section class="card">
                    <div class="card-body">
                        <div class="circular-bar circular-bar-xs m-0 mt-1 me-4 mb-0 float-end">
                            <div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
                                <strong>Average</strong>
                                <label><span class="percent">45</span>%</label>
                            </div>
                        </div>
                        <div class="h4 font-weight-bold mb-0">@await _companyService.GetArchivedTicketCountAsync(Model.Id)</div>
                        <p class="text-3 text-light mb-0">Archived Tickets</p>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-xl-6">
        <section class="card">
            <header class="card-header card-header-transparent">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">Company Activity</h2>
            </header>
            <div class="card-body">
                <div class="timeline timeline-simple mt-3 mb-3">
                    <div class="scrollable colored-slider tm-body" data-plugin-scrollable style="height: 555px;">
                        <ol class="scrollable-content tm-items me-3">
                            @foreach (TicketHistory history in await _historyService.GetCompanyTicketHistoryAsync(Model.Id))
                            {
                                <li>
                                    <div class="tm-box">
                                        <p class="text-muted mb-0">@history.Created</p>

                                        <p><strong>Property:</strong> @history.PropertyName</p>
                                        <p><strong>Old Value:</strong> @history.OldValue</p>
                                        <p><strong>New Value:</strong> @history.NewValue</p>
                                        <p class="mb-3">@history.Description</p>

                                    </div>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- end: page -->