@model IEnumerable<CSBugTracker.Models.Project>

@using CSBugTracker.Models.Enums;
@using CSBugTracker.Services.Interfaces;

@inject IBTFileService _FileService


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create A Project</a>
</p>

<div class="row">
    @foreach (Project project in Model)
    {
        <div class="col-lg-3">
            <section class="card">
                <header class="card-header bg-primary">

                    <div class="widget-profile-info">
                        <div class="profile-picture">
                            <img src="img/!logged-user.jpg">
                        </div>
                        <div class="profile-info">
                            <h4 class="name font-weight-semibold mb-0">@project.Name</h4>
                            <h5 class="role mt-0">Priority: @project.ProjectPriority!.Name</h5>
                            <div class="profile-footer">
                                <a href="#">Project Manager: </a>
                            </div>
                        </div>
                    </div>

                </header>
                <div class="card-body">
                    <p>@project.Description </p>
                    <hr class="solid short">
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-1"><a asp-action="AssignPM" asp-route-id="@project.Id"><i class="bx bxs-user-circle me-1 text-4 top-3 position-relative"></i> Assign Manager</a></p>
                            <p class="mb-1"><a asp-action="AssignProjectMembers" asp-route-id="@project.Id"><i class="bx bxs-user-account me-1 text-4 top-3 position-relative"></i> Manage Members</a></p>
                        </div>
                        <div class="col-6">
                            <p class="mb-1"><a asp-action="Edit" asp-route-id="@project.Id"><i class="bx bx-pencil me-1 text-4 top-3 position-relative"></i> Edit</a></p>
                            <p class="mb-1"><a asp-action="Delete" asp-route-id="@project.Id"><i class="bx bx-trash me-1 text-4 top-3 position-relative"></i> Archive</a></p>
                        </div>
                    </div>
                </div>
                <a asp-controller="Tickets" asp-action="ProjectTickets" asp-route-id="@project.Id">
                    <div class="card-header rounded-2 mt-2">
                        <h4 class="card-title m-0">
                            <i class="fas fa-tasks"></i> @project.Tickets.Count Tickets
                        </h4>
                    </div>
                </a>
            </section>
        </div>
    }
</div>