@model IEnumerable<CSBugTracker.Models.Project>

@using CSBugTracker.Models.Enums;
@using CSBugTracker.Services.Interfaces;

@inject IBTFileService _FileService


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Archived
            </th>
            <th>
                Company
            </th>
            <th>
                Project Priority
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                </td>
                <td class="square-img-container">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img height="100" width="100" src="@_FileService.ConvertByteArrayToFile(item.ImageData!,item.ImageType!,(int)DefaultImage.ProjectImage)" class="square-img rounded-start">
                    </a>
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="AssignPm" asp-route-id="@item.Id">Assign PM</a> <span>|</span>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {
                        <a asp-action="AssignProjectMembers" asp-route-id="@item.Id">Assign Members</a> <span>|</span>
                    }
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
